.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 120px;
  justify-content: center;
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 30px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 20px;
    padding: 0 15px;
  }
}

.emptyMessage {
  grid-column: 1 / -1;
  text-align: center;
  padding: 700px 0;
  color: #b2bbc6;
  font-size: 100px;
}
