.container {
  font-family: 'NotoSans';
  padding: 24px 0;
  background: #fffbf2;
  min-height: 100vh;
}

.backButton {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #5d4e37;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 18px;
  color: #5e5e5e;
  margin-bottom: 24px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px 15px;
  margin-bottom: 28px;
  border: 1.4px solid#e5e5e5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.rowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  border-bottom: 1px solid #eee3d4;
  padding-bottom: 10px;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}

.orderNumber {
  font-size: 16px;
  color: #5e5e5e;
  font-weight: 500;
}

.orderDate {
  margin-top: 4px;
  color: #a8a8a8;
  font-size: 14px;
}

.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
}

.ordered {
  background: #f5ede1;
  color: #5d4e37;
}

.ready {
  background: #fefce8;
  color: #ff9500;
}

.delivering {
  background: #eef8ff;
  color: #0088ff;
}

.completed {
  background: #e8f5e9;
  color: #2e7d32;
}

.canceled {
  background: #fef2f2;
  color: #ff3737;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 16px;
  color: #1a1a1a;
}

.price {
  color: #5e4a2f;
}

.shippingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #a8a8a8;
}

.shippingPrice {
  color: #a8a8a8;
  font-weight: 400;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #eee3d4;
  font-size: 18px;
  font-weight: 500;
  color: #1a1a1a;
}

.totalPrice {
  color: #c17d5b;
}

.trackingBox {
  background: #fbfbfb;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.trackingLabel {
  color: #5e5e5e;
  font-size: 12px;
  margin-bottom: 4px;
}

.trackingNumber {
  font-size: 14px;
  color: #1a1a1a;
  font-weight: 500;
}

@media (min-width: 1820px) {
  .title {
    font-size: 90px !important;
  }

  .subtitle {
    font-size: 70px !important;
    margin-bottom: 60px !important;
  }

  .card {
    padding: 40px 35px !important;
    margin-bottom: 50px !important;
    border-radius: 35px !important;
  }

  .orderNumber {
    font-size: 56px !important;
  }

  .orderDate {
    font-size: 44px !important;
  }

  .status {
    font-size: 44px !important;
    padding: 14px 28px !important;
  }

  .itemRow {
    font-size: 56px !important;
    margin: 16px 0 !important;
  }

  .totalRow {
    font-size: 60px !important;
    margin-top: 32px !important;
    padding-top: 28px !important;
  }

  .trackingLabel {
    font-size: 40px !important;
  }

  .trackingNumber {
    font-size: 44px !important;
  }
}

