.container {
  font-family: 'NotoSans';
  width: 100%;
  min-height: 100vh;
  padding: 32px 20px;
  box-sizing: border-box;
  background: #fffbf2;
  position: relative;
}

.backButton {
  position: absolute;
  top: 24px;
  left: 4px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
  color: #5d4e37;
}

.subtitle {
  font-size: 18px;
  color: #5e5e5e;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 30px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #f0e2cf;
  padding: 10px 5px;
  box-sizing: border-box;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  opacity: 0.6;
}

.input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #5d4e37;
}

.input::placeholder {
  color: #d0c2b5;
}

.noticeBox {
  margin-top: 25px;
  background: #fbfbfb;
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  color: #4a5565;
  display: block;
}

.noticeTitle {
  font-weight: 700;
  color: #5e5e5e;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.noticeText {
  line-height: 1.5;
  white-space: normal;
}

.telIcon {
  width: 15px;
  height: 15px;
}

.telLabelWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.telLabel {
  font-size: 14px;
  font-weight: 500;
  color: #5a4a32;
}

.nextButton {
  width: 100%;
  margin-top: 25px;
  background: #f5ede1;
  color: #8b7355;
  font-size: 20px;
  padding: 15px 0;
  border-radius: 16px;
  border: none;
  cursor: not-allowed;
  text-align: center;
  transition: 0.2s;
}

.active {
  background: #d4a574;
  color: #ffffff;
  cursor: pointer;
}


@media (min-width: 1820px) {
  .container {
    padding: 80px 60px !important;
  }

  .title {
    font-size: 90px !important;
    margin-top: 60px !important;
  }

  .subtitle {
    font-size: 70px !important;
    margin-top: 20px !important;
    margin-bottom: 70px !important;
  }

  .inputWrapper {
    padding: 20px 12px !important;
    border-bottom: 4px solid #f0e2cf !important;
  }

  .icon {
    width: 35px !important;
    height: 35px !important;
    margin-right: 25px !important;
  }

  .input {
    font-size: 60px !important;
  }

  .noticeBox {
    margin-top: 60px !important;
    padding: 40px 50px !important;
    border-radius: 24px !important;
  }

  .noticeTitle {
    font-size: 56px !important;
    margin-bottom: 15px !important;
  }

  .noticeText {
    font-size: 56px !important;
  }

  .nextButton {
    margin-top: 60px !important;
    font-size: 68px !important;
    padding: 30px 0 !important;
    border-radius: 25px !important;
  }

  .telLabel {
    font-size: 48px !important;
  }
}

