.layoutContainer {
  font-family: 'NotoSans';
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;
}

.bodyContainer {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 60px); /* Header 높이 제외 */
}

.contentArea {
  flex: 1;
  box-sizing: border-box;
  background-color: #f8faff;
  overflow-y: auto;
  font-family: 'NotoSans';
}
