.wrapper {
  width: 100%;
  max-width: 480px;
  background: #fffbf2;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1820px;
    padding: 40px;
  }
}
